


/* ------------------------------- */
/*  TOP & BOTTOM FRAME (titles + footer)
These sit at the top and bottom of the viewport
/* ------------------------------- */
.ui-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* pushes top/ bottom apart */
  pointer-events: none; /* prevents blocking clicks on content */
  z-index: 50;
}

/* Titles list stays interactive */
.project-titles-list {
  display: flex;
  gap: 50px;
  padding: 15px;
  pointer-events: auto; /* re-enable clicks */
}
.project-name {
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

/* .project-name:hover {
  opacity: 0.6;
} */


.date{
 font-family: "Arial Narrow", Arial, sans-serif;
}


/* Footer stays interactive */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  pointer-events: auto; /* re-enable clicks */
}

.title {
  padding-left: 15px;
}
.email {
  padding-right: 15px;
}

/* ------------------------------- */
/*   MIDDLE CONTENT BLOCK
/* ------------------------------- */

.project-content {
  position: relative;
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* vertical center */
  align-items: center;
  z-index: 1; /* sits behind UI frame */
  border: 1px solid purple;
}



.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
height: 100%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.pdf-viewer {
  width: 300px;
  /* height: 100%; */
  border: none;
}


/* ------------------------------- */
/*   Navigation hit areas
/* ------------------------------- */
.hit-boxes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  display: flex;
  z-index: 100;
}

/* GREEN BOX HIT BOXES  */
.left-hit,
.right-hit {
  width: 50%;
  border: 1px solid green;
}


/* ------------------------------- */
/* Pagination
/* ------------------------------- */
.pagination {
  width: 20%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.press-link { font-style: italic; }

.download-icon img {
  width: 18px;
  height: auto;
  padding-left: 5px;
}
/* old




.pdf-viewer {
  border: none;
  z-index: 150;
  /* overflow: auto; */
}

.pagination{
  display:flex;
  /* border: 1px solid blue ;  */
  width: 20%;
  justify-content: space-between;
  align-items: center;
}
.press-link{
  font-style:italic;
  
}
 
.text{
  display:flex;
  gap: 5px;
  align-items: center;
}

.download-icon{
  max-width: 18px;
  display: flex;
}

.download-icon img{
  width: 100%;
  padding-left:5px;
  height: auto;
}

*/


