html, body {
  height: 100%;
  width: 100%;
  margin: 0 ;

}


h1, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}
.grey{
  color:#979797;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.project-titles-list {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 15px 15px 0px 15px;
}
.date{
 font-family: "Arial Narrow", Arial, sans-serif;
}
.project-name {
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

/* .project-name:hover {
  opacity: 0.6;
} */

/* PURPLE BOX PROJECT CONTENT IMAGES */
.project-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;;
  /* border: 1px solid purple; */
  position: relative;
}

.hit-boxes {
  display: flex;
  justify-content: center;
  height: 97%; /* so that it doesn't cover teh text and page counter */
  position: absolute;
  width: 100%;
  z-index: 100;
}

/* GREEN BOX HIT BOXES  */
.left-hit,
.right-hit {
  width: 50%;
  /* border: 1px solid green; */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
height: 78vh;
  /* width: 60%;   */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.pdf-viewer {
  border: none;
  z-index: 150;
  /* overflow: auto; */
}

.pagination{
  display:flex;
  /* border: 1px solid blue ;  */
  width: 20%;
  justify-content: space-between;
  align-items: center;
}
.press-link{
  font-style:italic;
}

.text{
  display:flex;
  gap: 5px;
  align-items: center;
}

.download-icon{
  max-width: 18px;
  display: flex;
}

.download-icon img{
  width: 100%;
  padding-left:5px;
  height: auto;
}


.footer {
  position: fixed;
  font-size: 30px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}


.email{
  padding-right: 15px;
}
.title{
  padding-left: 15px;
}

